.theme-green-primary-color {
    color: #2AB4C0;
}
.theme-dark-green-primary-color {
    color: #1BA39C;
}
.theme-green-primary-bgcolor {
    background-color: #2AB4C0;
}
.theme-dark-green-primary-bgcolor {
    background-color: #1BA39C;
}
.card-primary-header {
    background-color: #2AB4C0;
    color: #fff;
    font-size: 16px;
}
label.form-label {
    margin-bottom: 2px;
    color: #9e9e9e;
}
.form-group em {
    color: #ff2f1a;
}
.primary-button {
    background-color: #2AB4C0;
    color: #fff;
    border-color: #27a8b3;
}
.dog-default-image {
    width: 60px;
    max-width: 60px;
}
.swal2-loader {
    border-color: #1BA39C transparent #1BA39C transparent !important;
}